services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5002:5000"
    volumes:
      - /home/ubuntu/projects/CloudNap/aws:/root/.aws:ro
      - ./backend/database.sqlite:/app/backend/database.sqlite
    environment:
      - JWT_SECRET=${JWT_SECRET:-hibernate-top-secret}
      - AWS_PROFILE=hibernate
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    restart: unless-stopped

networks:
  default:
    name: app2-network
